.container{
    display: inline-block;
    .content{
        position: fixed;
        visibility: hidden;
        min-width: 200px;
        height: 200px;
        background-color: #fff;
        padding: 10px;
        border-radius: 3px;
        box-shadow: rgba(0,0,0,.2) 0 0 5px 0;
        z-index: 1050;
        &_active{
            visibility: visible;
        }
    }
}