.wrapper{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    z-index: 9;
    .container{
        display: flex;
        height: 80px;
        padding: 20px;
        .logo{
            width: 200px;
            text-align: center;
            span{
                font-size: 31px;
                font-weight: 800;
                background: -webkit-linear-gradient(45deg, #314ff7, #b530cf 80%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        nav{
            flex: 1;
            padding: 0 20px;
            .searchBox{
                position: relative;
                height: 40px;
                width: 500px;
                &_icon{
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    color: #314ff7;
                    span{
                        display: inline-block;
                        vertical-align: -0.4rem;
                    }
                    z-index: 1;
                }
                &_input{
                    position: relative;
                    padding: 1px;
                    input{
                        width: 100%;
                        border-radius: 2px;
                        border: 0;
                        padding: 10px 20px 10px 40px;
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border-radius: 3px;
                        background: linear-gradient(45deg, #314ff7, #b530cf 80%);
                        z-index: -1;
                    }
                }
                &_content{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 240px;
                    background-color: #fff;
                    box-shadow: #dddddd 0 3px 5px;
                    border-radius: 3px 3px 5px 5px;
                    padding: 10px;
                    &__item{
                        display: flex;
                        width: 100%;
                        height: 40px;
                        border-radius: 3px;
                        margin: 3px 0;
                        &:hover{
                            background-color: #eeeeee;
                        }
                        &_avatar{
                            width: 40px;
                            height: 40px;
                        }
                        &_title{
                            flex: 1;
                            padding: 5px 10px;
                            line-height: 30px;
                            overflow: hidden;
                            b {
                                display: block;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            }
                        }
                        &_icon{
                            width: 40px;
                            height: 40px;
                            line-height: 40px;
                            text-align: center;
                            cursor: pointer;
                            span{
                                display: inline-block;
                                vertical-align: -0.4rem;
                            }
                        }
                    }
                }
            }
        }
        .menu{
            display: flex;
            &_item{
                margin-left: 30px;
            }
            .avatar{
                position: relative;
                width: 40px;
                height: 40px;
                line-height: 40px;
                background-color: #eeeeee;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                span{
                    color: #555555;
                    display: inline-block;
                    vertical-align: -0.4rem;
                }
                img{
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .badge{
                position: absolute;
                height: 20px;
                padding: 0 5px;
                border-radius: 10px;
                top: -5px;
                left: 25px;
                background-color: #ff4d4f;
                color: #ffffff;
                span{
                    color: #ffffff;
                    display: block;
                    line-height: 20px;
                }
            }
        }
    }
}