.container{
    margin: 10px 0;
    .header{
        display: flex;
        .title{
            flex: 1;
            padding-right: 20px;
            overflow: hidden;
            h1{
                position: relative;
                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 24px;
                font-weight: 500;
                margin: 0;
                &::before{
                    content: '';
                    position: absolute;
                    width: 70%;
                    height: 1px;
                    background: linear-gradient(45deg, #314ff7, #b530cf 80%);
                    bottom: 0;
                }
            }
        }
        .right_action{
            button{
                width: 30px;
                height: 30px;
                padding: 3px;
                margin-left: 5px;
                border-radius: 3px;
                background-color: #ffffff;
                border: 0;
                cursor: pointer;
            }
        }
    }
    .swiper{
        display: flex;
        margin: 10px -9.5px;
        overflow: hidden;
        &_wrapper{
            display: flex;
            transition: all .2s;
            &_item{
                position: relative;
                width: 209px;
                flex-shrink: 0;
                border-radius: 3px;
                transition: all .5s;
                padding: 0 9.5px;
                &_thumbnail{
                    width: 190px;
                    height: 190px;
                    border-radius: 3px;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 3px;
                        object-fit: cover;
                    }
                }
                &:hover{
                    .swiper_wrapper_item_over{
                        opacity: 0.2;
                    }
                    .swiper_wrapper_item_over, .swiper_wrapper_item_title{
                        visibility: visible;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                    .swiper_wrapper_item_title{
                        opacity: 1;
                    }
                }
                &_over{
                    position: absolute;
                    visibility: hidden;
                    width: 190px;
                    height: 190px;
                    left: 0;
                    top: 20%;
                    background-color: #555555;
                    border-radius: 3px;
                    margin: 0 9.5px;
                    z-index: 2;
                    opacity: 0;
                    transition: all .2s;
                }
                &_title{
                    position: absolute;
                    display: flex;
                    width: 190px;
                    height: 190px;
                    visibility: hidden;
                    top: -20%;
                    left: 0;
                    z-index: 3;
                    margin: 0 9.5px;
                    padding: 5px;
                    color: #ffffff;
                    opacity: 0;
                    cursor: pointer;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 3px;
                    text-align: center;
                    transition: all .2s;
                    h3{
                        margin: 0;
                        font-size: 18px;
                    }
                    span{
                        color: #dddddd;
                        font-style: italic;
                    }
                }
            }
        }
    }
}